.button {
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin-right: 3rem;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border: none;
  background-color: rgb(9, 92, 92);
  color: #fff;
  letter-spacing: 0.1em;
  padding: 0.3rem;
}
